@import "../node_modules/bootswatch/dist/litera/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../src/components/login/loginForm.css";

.bg-primary {
  background-color: #00a3a3 !important;
}

.btn-primary {
  background-color: #00a3a3 !important;
  border: #00a3a3;
}
.btn-primary:hover {
  border: #00a3a3;
}
